
<ol class="nav nav-pills nav-stacked">
    {%for article in larticles %}
    <li> <b> {{ article.titre }} </b><br>
    <small style='color:black'>{{article.contenu}}</small></a>
    </li>
    
    {% endfor %}
</ol>